<mat-card fxFlex="60%" fxFlexOffset="20%">
  <div fxLayoutAlign="space-between">
    <div>
      <mat-card-title>{{ property.main.title }}</mat-card-title>
      <mat-card-subtitle>{{ property.main.type }} with {{ property.main.rooms }} rooms</mat-card-subtitle>
    </div>

    <mat-card-actions>
      <button mat-flat-button color="primary">
        <mat-icon inline>thumb_up</mat-icon>
        <span fxFlexOffset="0.25rem">Like</span>
      </button>

      <button mat-stroked-button>
        <mat-icon inline>message</mat-icon>
        <span fxFlexOffset="0.25rem">Message</span>
      </button>
    </mat-card-actions>
  </div>

  <mat-card-content fxLayout="row" fxLayoutGap="2rem">
    <div fxLayout="column">
      <span><b>Country:</b> {{ property.location.country }} </span>
      <span><b>State:  </b> {{ property.location.state }}   </span>
      <span><b>City:   </b> {{ property.location.city }}    </span>
      <span><b>Street: </b> {{ property.location.street }}  </span>
      <span><b>Floor:  </b> {{ property.location.floor }}   </span>
    </div>

    <div fxLayout="column">
      <span><b>Furnishing:    </b> {{ property.main.furnishing }}             </span>
      <span><b>Area:          </b> {{ property.main.area }}                   </span>
      <span><b>Available from:</b> {{ property.rent.available?.from | date }} </span>
      <span><b>Available to:  </b> {{ property.rent.available?.to | date }}   </span>
      <span><b>Price:         </b> {{ property.main.price | currency }}       </span>
    </div>
  </mat-card-content>

  <div>
    <b>About property:</b>
    <p>{{ property.details.description }}</p>
  </div>
</mat-card>
