<mat-card fxLayout="column"
          fxFlex.gt-lg="25%" fxFlexOffset.gt-lg="37.5%"
          fxFlex.gt-md="33.3%" fxFlexOffset.gt-md="33.3%"
          fxFlex.gt-sm="50%" fxFlexOffset.gt-sm="25%"
          fxFlex.gt-xs="100%" fxFlexOffset.gt-xs="0%">
  <mat-card-title>Register</mat-card-title>
  <mat-card-subtitle>Already have an account? <a routerLink="/user/login">Login!</a></mat-card-subtitle>

  <form fxLayout="column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">

      <mat-icon matPrefix>account_circle</mat-icon>
      <mat-hint align="end">{{ name.value?.length || 0 }}/{{ maxNameLength }}</mat-hint>

      <mat-error>
        <ng-container *ngIf="name.hasError('required')">Name is required!</ng-container>
        <ng-container *ngIf="name.hasError('minlength')">Name must contain at least {{ minNameLength }} characters!</ng-container>
        <ng-container *ngIf="name.hasError('maxlength')">Name mustn't be longer than {{ maxNameLength }} characters!</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">

      <mat-icon matPrefix>email</mat-icon>

      <mat-error>
        <ng-container *ngIf="email.hasError('required')">Email is required!</ng-container>
        <ng-container *ngIf="email.hasError('email')">Email is invalid!</ng-container>
        <ng-container *ngIf="email.hasError('maxlength')">Email mustn't be longer than {{ maxEmailLength }} characters!</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput type="tel" formControlName="phone">

      <mat-icon matPrefix>phone</mat-icon>

      <mat-error>
        <ng-container *ngIf="phone.hasError('required')">Phone number is required!</ng-container>
        <ng-container *ngIf="phone.hasError('minlength')">Phone number must contain at least {{ phoneLength }} digits!</ng-container>
        <ng-container *ngIf="phone.hasError('maxlength')">Phone number mustn't be longer than {{ phoneLength }} digits!</ng-container>
        <ng-container *ngIf="phone.hasError('pattern')">Phone number is invalid!</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">

      <mat-icon matPrefix>lock</mat-icon>

      <mat-error>
        <ng-container *ngIf="password.hasError('required')">Password is required!</ng-container>
        <ng-container *ngIf="password.hasError('pattern')">Password must contain at least one digit, one lowercase and one uppercase letter!</ng-container>
        <ng-container *ngIf="password.hasError('minlength')">Password must contain at least {{ minPasswordLength }} symbols!</ng-container>
        <ng-container *ngIf="password.hasError('maxlength')">Password mustn't be longer than {{ maxEmailLength }} symbols!</ng-container>
      </mat-error>
    </mat-form-field>

    <div fxLayoutGap="0.5rem">
      <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
        <mat-icon inline>check</mat-icon>
        <span fxFlexOffset="0.25rem">Submit</span>
      </button>

      <button mat-flat-button color="warn" type="reset">
        <mat-icon inline>close</mat-icon>
        <span fxFlexOffset="0.25rem">Reset</span>
      </button>
    </div>
  </form>
</mat-card>
