<a routerLink="/property-detail/{{ property.id }}">
  <mat-card mat-ripple>
    <img mat-card-image *ngIf="property.images; else noImages"
         src="assets/images/{{ property.images[0] }}" alt="Property image"/>

    <ng-template #noImages>
      <img mat-card-image src="assets/images/no-image.jpg" alt="No image available"/>
    </ng-template>

    <mat-card-title fxLayoutAlign="space-between">
      <span class="property-name">{{ property.title }}</span>
      <span>{{ property.price | currency:'USD':'symbol':'1.0-0' }}</span>
    </mat-card-title>

    <mat-card-subtitle fxLayoutAlign="space-between">
      <span>{{ property.city }}</span>
      <span>{{ property.area }} sqrt</span>
    </mat-card-subtitle>
  </mat-card>
</a>
