a {
  color: inherit;
  text-decoration: none;
}

.mat-card-image {
  height: 18rem;
  object-fit: cover;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.property-name {
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
