<a routerLink="/property-detail/{{ property._id }}">
  <mat-card mat-ripple>
    <ng-container *ngIf="isLoaded; else isLoading">
      <img mat-card-image [src]="propertyImage" alt="Property image"
           *ngIf="propertyImage; else noImage"/>

      <ng-template #noImage>
        <img mat-card-image src="assets/images/no-image.jpg" alt="No image available"/>
      </ng-template>
    </ng-container>

    <ng-template #isLoading>
      <mat-spinner></mat-spinner>
    </ng-template>

    <mat-card-title fxLayoutAlign="space-between">
      <span class="property-name">{{ property.title }}</span>
      <span>{{ property.price | currency:'USD':'symbol':'1.0-0' }}</span>
    </mat-card-title>

    <mat-card-subtitle fxLayoutAlign="space-between">
      <span>{{ property.city }}</span>
      <span>{{ property.area }} sqrt</span>
    </mat-card-subtitle>
  </mat-card>
</a>
