<mat-card fxLayout="column"
          fxFlex.gt-lg="25%" fxFlexOffset.gt-lg="37.5%"
          fxFlex.gt-md="33.3%" fxFlexOffset.gt-md="33.3%"
          fxFlex.gt-sm="50%" fxFlexOffset.gt-sm="25%"
          fxFlex.gt-xs="100%" fxFlexOffset.gt-xs="0%">
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Don't have an account? <a routerLink="/user/register">Register!</a></mat-card-subtitle>

  <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">

      <mat-icon matPrefix>email</mat-icon>

      <mat-error>
        <ng-container *ngIf="email.hasError('required')">Email is required!</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">

      <mat-icon matPrefix>lock</mat-icon>

      <mat-error>
        <ng-container *ngIf="password.hasError('required')">Password is required!</ng-container>
      </mat-error>
    </mat-form-field>

    <div fxLayoutGap="0.5rem">
      <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
        <mat-icon inline>check</mat-icon>
        <span fxFlexOffset="0.25rem">Submit</span>
      </button>

      <button mat-flat-button color="warn" type="reset">
        <mat-icon inline>close</mat-icon>
        <span fxFlexOffset="0.25rem">Reset</span>
      </button>
    </div>
  </form>
</mat-card>

