<div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input #city matInput type="text"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <div fxLayoutGap="1rem">
    <mat-form-field appearance="outline" class="sort-field" fxFlex>
      <mat-label>Sort by</mat-label>

      <mat-icon matPrefix>filter_list</mat-icon>

      <mat-select #sortBy>
        <mat-option value="price">Price</mat-option>
        <mat-option value="carpetArea">Carpet area</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-mini-fab color="primary" class="sort-button" (click)="reverseSortOrder()">
      <mat-icon>{{ isAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="2rem grid">
  <div class="wrapper"
       fxFlex.gt-lg="25%" fxFlex.gt-md="33.3%"
       fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"
       *ngFor="let property of properties
       | filter: 'city': city.value
       | sort: sortBy.value: isAsc;
       trackBy: trackByPropertyId">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>
