<aside fxLayout="column">
  <a mat-button routerLink="/"
     routerLinkActive="mat-flat-button"
     [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon inline>shopping_cart</mat-icon>
    <span fxFlexOffset="0.25rem">Buy</span>
  </a>

  <a mat-button routerLink="/rent-property"
     routerLinkActive="mat-flat-button">
    <mat-icon inline>access_time</mat-icon>
    <span fxFlexOffset="0.25rem">Rent</span>
  </a>

  <a mat-button routerLink="/add-property"
     routerLinkActive="mat-flat-button">
    <mat-icon inline>add_circle_outline</mat-icon>
    <span fxFlexOffset="0.25rem">Add</span>
  </a>

  <ng-container *ngIf="!token; else unauthorized">
    <a mat-button routerLink="/user/register"
       routerLinkActive="mat-flat-button">
      <mat-icon inline>person_add</mat-icon>
      <span fxFlexOffset="0.25rem">Register</span>
    </a>

    <a mat-button routerLink="/user/login"
       routerLinkActive="mat-flat-button">
      <mat-icon inline>exit_to_app</mat-icon>
      <span fxFlexOffset="0.25rem">Login</span>
    </a>
  </ng-container>

  <ng-template #unauthorized>
    <button mat-button (click)="logoutUser()">
      <mat-icon inline>meeting_room</mat-icon>
      <span fxFlexOffset="0.25rem">Logout</span>
    </button>
  </ng-template>
</aside>
