<mat-card fxLayout="column"
          fxFlex.gt-lg="60%" fxFlexOffset.gt-lg="20%"
          fxFlex.gt-md="80%" fxFlexOffset.gt-md="10%"
          fxFlex.gt-xs="100%" fxFlexOffset.gt-xs="0%">
  <mat-card-title>{{ property.title }}</mat-card-title>

  <mat-card-subtitle>
    <a href="https://www.google.com/maps/search/?api=1&query={{ location }}" target="_blank">
      {{ location }}
    </a>
  </mat-card-subtitle>

  <ng-container *ngIf="isLoading; else isLoaded">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #isLoaded>
    <div class="slider">
      <ng-container *ngFor="let image of propertyImages">
        <img [src]="image" alt="Property image" />
      </ng-container>

      <img *ngIf="propertyImages.length === 0"
           src="assets/images/no-image.jpg" alt="No image available"/>
    </div>
  </ng-template>

  <mat-card-content fxLayout="column">
    {{ property.description }}

    <div fxLayout="column" fxFlexOffset="1rem">
      <span>
        <b>Owner:</b> {{ property.owner.name }}
      </span>

      <span *ngIf="property.forRent">
        <b>Available:</b> {{ property.available?.from | date }} - {{ property.available?.to | date }}
      </span>
    </div>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <div fxFlexOffset="1rem" fxLayoutGap="0.5rem"
       fxLayout="row" fxLayout.lt-sm="column-reverse"
       fxLayoutAlign="space-between" fxLayoutAlign.lt-sm="start start">
    <div fxLayoutGap="0.5rem">
      <a mat-flat-button color="primary" href="tel:{{ property.owner.phone }}">
        <mat-icon inline>phone</mat-icon>
        <span fxFlexOffset="0.25rem">Call</span>
      </a>

      <a mat-stroked-button href="mailto:{{ property.owner.email }}">
        <mat-icon inline>email</mat-icon>
        <span fxFlexOffset="0.25rem">Email</span>
      </a>
    </div>

    <span fxLayoutAlign="end center" fxLayoutGap="0.25rem">
      <mat-card-title>{{ property.price | currency:'USD':'symbol':'1.0-0' }}</mat-card-title>
      <mat-card-subtitle *ngIf="property.forRent">per day</mat-card-subtitle>
    </span>
  </div>
</mat-card>
