a {
  text-decoration: none;
  color: inherit;
}

.mat-card-image {
  height: 18rem;
  object-fit: cover;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.property-name {
  max-width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
